*.odb
*.prt
/computation/*/*.odb
/computation/*/*.prt
/computation/*/*.sim
/computation/*/*.sta
/computation/*/*.ipm
/computation/*/*.com
/.idea/*
/report/*.aux
/report/*.blg
/report/*.out
/report/*.xml
/report/*.gz
/report/*.log
/report/*.bbl
/report/*.nlo
/report/*-blx.bib



