*.odb
*.prt
/computation/*/*.odb
/computation/*/*.prt
/computation/*/*.sim
/computation/*/*.sta
/computation/*/*.ipm
/computation/*/*.com
/computation/*/*.SMABulk
/computation/*/*.SMAFocus
/computation/*/*.023
/computation/*/*.mdl
/computation/*/*.cid
/computation/*/*.lck
/computation/*/*.stt
/computation/*/*.tmp
/.idea/*
/report/*.aux
/report/*.blg
/report/*.out
/report/*.xml
/report/*.gz
/report/*.log
/report/*.bbl
/report/*.nlo
/report/*-blx.bib



